extends ../layout.pug

block styles
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/card.css")

block content
    main
        if  (editing)
            form.card-form(action="/admin/edit-card" method="POST")
                .form-control
                    label(for="title") Question
                    input(type="text" name="question" value=card.question)#question #{product.question}
                    label(for="category") Category
                    input(name="category")#category #{product.category}
                    input(name="answer")#answer #{product.answer}
                    button(type="submit") Update Card
                    input(type="hidden", value=card.id, name="cardId")

        else
            form.card-form(action="/admin/add-card" method="POST")
                .form-control
                    label(for="title") Question
                    input(type="text" name="question" value=card.question)#question #{product.question}
                    label(for="category") Category
                    input(name="category")#category #{product.category}
                    input(name="answer")#answer #{product.answer}
                    button(type="submit") Update Card
                    input(type="hidden", value=card.id, name="cardId")
                    button(type="submit") Add Card

