extends ../layout.pug

block styles
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/card.css")
    link(rel="stylesheet", href="/css/form.css")

block content
    section
        if  (editing)
            form.card-form(action="/admin/edit-card" method="POST")
                .form-control
                    label(for="title") Question
                    input(type="text" name="question" value=card.question)#question
                    label(for="category") Category
                    input(name="category" value=card.category)#category
                    label(for="answer") Answer
                    input(name="answer" value=card.answer)#answer
                    button(type="submit") Update Card
                    input(type="hidden", value=card.id, name="cardId")

        else
            form.card-form(action="/admin/add-card" method="POST")
                .form-control
                    label(for="title") Question
                    input(type="text" name="question" value=card.question)#question
                    label(for="category") Category
                    input(name="category" value=card.category)#category
                    label(for="answer") Answer
                    input(name="answer" value=card.answer)#answer
                    button(type="submit") Add Card

